<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OkoshiMAX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <OkoshiMAX.My.MySettings>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Atama" serializeAs="String">
                <value />
            </setting>
            <setting name="Oshiri" serializeAs="String">
                <value />
            </setting>
            <setting name="MyLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Atama2" serializeAs="String">
                <value />
            </setting>
            <setting name="Oshiri2" serializeAs="String">
                <value />
            </setting>
            <setting name="Atama3" serializeAs="String">
                <value />
            </setting>
            <setting name="Oshiri3" serializeAs="String">
                <value />
            </setting>
            <setting name="gamen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shiori" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SC1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SC2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SC3" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SC4" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SC5" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="SC6" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SC7" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Fuka" serializeAs="String">
                <value />
            </setting>
            <setting name="Fumei" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonota" serializeAs="String">
                <value />
            </setting>
            <setting name="autoBM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoBMDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BM_ap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shiori_PS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fumei2" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gamen_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shiori_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Main_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Main_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShioriPlay" serializeAs="String">
                <value>False</value>
            </setting>
        </OkoshiMAX.My.MySettings>
    </userSettings>
</configuration>
